<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
     
      <!--Home Page link. If on Home page, make active, otherwise not-->
        <li class="home-button">
        <% if(title == "Home") { %>
          <a class="nav-link active fa-color" href="/home"> 
        <% } 
        else { %>
          <a class="nav-link" href="/home"> 
        <% } %>
        <i class="fa-sharp fa-solid fa-house fa-2x"></i> Home</a>
        </li>
      
      <!--Standings Page link. If on Home page, make active, otherwise not-->
        <li class="nav-item">
        <% if (title == "Standings") { %>
          <a class="nav-link active fa-color" href="/Standings">
        <% } else { %>
          <a class="nav-link" href="/Standings">
        <% } %>
          <i class="fa-solid fa-table fa-2x"></i> Standings </a>
        </li>
        
    
      </ul>
    </div>
  </div>
</nav>