<%- include ("partials/header.ejs") %>
<%- include ("partials/main_nav.ejs") %>
<!-- Main Content -->
<main>
 <div class="Home">
  <article>
    <h1>Welcome to My Standings Website!</h1>
    <p>This is website will allow you to input scores of your teams and include relavant info such as wins, losses, etc. Head on over to <a href= "/Standings"> Standings</a> to get started!</p>
  </article>
</div>
</main>
<%- include ("partials/bottom_nav.ejs") %>
<%- include ("partials/footer.ejs") %>


